<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <generateScribanContext>
        <processor type = "Foundation.SitecoreShades.ScribanExtensions.Pipeline.LinkExtensions, Foundation.SitecoreShades.ScribanExtensions" resolve="true" />
      </generateScribanContext>
    </pipelines>
  </sitecore>
</configuration>