<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!--<field fieldName="TrainingTitle" returnType="string" />-->
            </fieldNames>
          </fieldMap>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="standblog_category" returnType="string" sourceField="Category" referenceField="CategoryName">Foundation.SitecoreShades.Search.ComputedFields.ReferenceFieldComputedField, Foundation.SitecoreShades.Search</field>
              <field fieldName="standblog_tag" returnType="stringCollection" sourceField="BlogTag" referenceField="Title">Foundation.SitecoreShades.Search.ComputedFields.MultiSelectFieldComputedField, Foundation.SitecoreShades.Search</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>